@import "tailwindcss";

:root {
 --bg-primary: #F5F5F5;
  --text-primary: #333333;
  --accent: #4A90E2;
}
div#devtools-indicator {
    display: none !important;
}

*{
  margin: 0;
  padding: 0;
   font-family: "Exo 2", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: "<weight>";
  font-style: normal;
  box-sizing: border-box;
}
ul{
  margin: 0 !important;
  padding: 0 !important;
}
html ,body {
  background-color: var(--bg-primary);

  
}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.margin_leftMain{
  margin-left: 7em;
  margin-right: 2em;
}

.userMain{
 
  padding-bottom: 5em !important;
}
.scan_btn{
  border-radius: 3px !important;
}
.waring_btn{
  margin-right: 2em !important;
}

/* Hide scrollbar by default */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
  transition: width 0.3s ease;
}

/* Show scrollbar when user hovers */
.custom-scroll:hover::-webkit-scrollbar {
  width: 4px;
}

/* Scrollbar thumb */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 10px;
}

/* Scrollbar track */
.custom-scroll::-webkit-scrollbar-track {
  background: #0d111d;
}
@media only screen and (max-width: 1024px) {
   .main_row{
  flex-wrap: wrap !important;
 }
 .img_box img{
  width: 450px !important;
 }
 .margin_leftMain {
  
  margin-left: 2em !important;
  margin-right: 2em !important;
  padding-bottom:2em !important;
 }
 .header_wrapper {
margin-top:2em !important;
padding: 0 !important;
 }
 .right_main_wrapper {
  margin-top: 1em !important;
  width: 100% !important;
  padding: 0 !important;
 }
 .tabs_buttons{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
}
@media only screen and (max-width: 850px) {
  
 .top_wrapper {
  margin-top: 4em !important;
 }
}
@media only screen and (max-width: 576px) {
  
 
}

